@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige text-gray-950 font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}